.today {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.today .search-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today .search-buttons button {
  background-color: #918E8E;
  color: #F7F7F7;
}

.today .search-buttons button:hover {
  background-color: #6B6A6A;
}

.today .search-buttons .search-places {
  padding: .5rem 1rem;
}

.today .search-buttons .my-location {
  display: flex;
  align-items: center;
  padding: .3rem;
  border-radius: 100%;
  border: none;
}

.today .image {
  width: 10rem;
  height: 10rem;
}

.today .image img {
  width: 100%;
}

.today-celcius p {
  display: inline-block;
  font-size: 100px;
  margin: 0;
}

.today-celcius span {
  font-size: 40px;
  position: relative;
  top: -5px;
  left: 5px;
}

.today-description p {
  margin: 0;
  color: #AEAEAE;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}

.today-info {
  color: #8E8E8E;
  font-size: 16px;
  text-align: center;
}

.today-info div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: .2rem;
  margin-top: 1rem;
}