<div class="container today">
  <div class="search-buttons">
    <button type="button" class="search-places" (click)="handleSearch.emit(true)">Buscar ciudades</button>
    <button type="button" class="my-location" (click)="getUserLocation.emit()">
      <span class="material-icons">my_location</span>
    </button>
  </div>
  <div class="image">
    <img src="http://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="Icono">
  </div>
  <div class="today-celcius">
    <p>{{ temp | number: '1.0-0' }}</p>
    <span>°C</span>
  </div>
  <div class="today-description">
    <p>"{{ description }}"</p>
  </div>
  <div class="today-info">
    <span>Hoy | {{ today }}</span>
    <div>
      <span class="material-icons">location_on</span>
      <span>{{ city || '-' }}</span>
    </div>
  </div>
</div>
