.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: #FFF;
}

@media (min-width: 768px) {
  .main-content {
    display: flex;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-content {
  width: 100%;
}

@media (min-width: 768px) {
  .left-content {
    width: 25%;
  }
}

.right-content {
  width: 100%;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .right-content {
    width: 75%;
  }
}

.weather-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  place-items: center;
}

/* Today Hightlights */
.today-hightlights {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.today-hightlights div {
  text-align: center;
  padding: 15px;
}

.today-hightlights div h4 {
  margin: 0 0 15px 0;
}

.today-hightlights div p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 60px;
}

.today-hightlights div span {
  font-size: 25px;
  position: relative;
  top: -10px;
  left: 5px;
}