<div class="container search">
  <div class="close-icon">
    <span class="material-icons" (click)="close()">close</span>
  </div>
  <form class="form-search" #formSearch="ngForm" (ngSubmit)="onSubmit(formSearch.value)">
    <input type="text" name="city" placeholder="Buscar ciudad" autocomplete="off" required 
          #city="ngModel" ngModel>
    <!-- Error -->
    <div class="text-danger" *ngIf="formSearch.submitted">
      <p *ngIf="city.invalid">La ciudad es requerida.</p>
      <p *ngIf="errorCityNotFound">La ciudad no existe o no se encuentra en Chile.</p>
    </div>
    <button type="submit">Buscar</button>
  </form>
  <div class="cities">
    <div class="city" *ngFor="let city of cities">
      <div class="city-name" (click)="searchCity(city)">
        <p>{{ city.name }}</p>
      </div>
      <span class="material-icons" (click)="removeCity(city)">close</span>
    </div>
  </div>
</div>
